# Ignore everything except what we need
*

# Include only what's needed for the build
!projects/
!bases/
!components/
# TODO: Remember to update the following as dev progresses
!development/dagster/
!orchestrators/dagster/lif-orchestrator/

# Exclude development files
**/.venv/
**/__pycache__/
**/*.pyc
**/.git/
**/node_modules/
**/.DS_Store