repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.7.11
    hooks:
      - id: uv-lock
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.11.13
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v9.0.1
    hooks:
      - id: cspell
        exclude: cspell.json
  - repo: local
    hooks:
      - id: ty-check
        name: ty-check
        entry: uv run ty check --error-on-warning
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
      - id: pytest
        name: pytest-test
        entry: uv run pytest test
        language: system
        types: [python]
        pass_filenames: false
        always_run: true

