version: '3'
services:
  lif-mdr-database:
    image: postgres
    command: postgres
    environment:
      POSTGRES_USER: ${LIF_MDR__DATABASE__USER:-postgres}
      POSTGRES_PASSWORD: ${LIF_MDR__DATABASE__PASSWORD:-postgres}
      POSTGRES_DB: ${LIF_MDR__DATABASE__DBNAME:-LIF}
      POSTGRES_HOST: localhost
      POSTGRES_CONTAINER_HOST: lif-mdr-database
    ports:
      - "5445:5432" # Host port 5445 to access Postgres

  lif-mdr-database-restore:
    image: postgres
    command: postgres
    depends_on:
      - lif-mdr-database
    environment:
      POSTGRES_USER: ${LIF_MDR__DATABASE_RESTORE__USER:-postgres}
      POSTGRES_PASSWORD: ${LIF_MDR__DATABASE_RESTORE__PASSWORD:-postgres}
      POSTGRES_DB: ${LIF_MDR__DATABASE_RESTORE__DBNAME:-LIF}
      POSTGRES_HOST: lif-mdr-database
      PGPASSWORD: ${LIF_MDR__DATABASE_RESTORE__PASSWORD:-postgres}
    volumes:
     - ./backup.sql:/backup.sql
     - ./restore.sh:/docker-entrypoint-initdb.d/restore.sh
    entrypoint: /docker-entrypoint-initdb.d/restore.sh
