@import "./_colors.css";

body {
  padding: 0;
  margin: 0;
}

#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  .theme-root {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    .app-container {
      height: 100%;
      width: 100%;

      .app-container,
      .app-main,
      .app-footer {
        padding-left: var(--padding-x);
        padding-right: var(--padding-x);
       }

      .app-main {
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        background-color: var(--theme-bg);
        color: var(--theme-text);
        .layout {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          height: 100%;
          overflow: hidden;
          .content,
          .page-content,
          .page-content > div {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            overflow: hidden;
          }
          .rt-Container {
            flex-grow: 0;
          }
          .content {
            border-top: 1px solid #999;
            margin: 35px 0 10px;
            padding: 35px 0 0;
          }
          .page-content > div {
            flex-direction: row;
          }
        }
      }
    }
  }
}
