.editable-formula {
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor: text;
    position: relative;
}

.editing-controls {
    display: flex;
    justify-content: flex-end;
/*     margin-top: 10px;
    position: absolute; */
    width: 100%;
    gap: 10px;
}

.editing-controls .editing-button {
    cursor: pointer;
}

.formula-input {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 8px;
}
