.app-header {
  background-color: var(--theme-bg);
  color: var(--theme-text);
  padding: 0.5rem var(--padding-x);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* max-width: 1200px;
  margin: 0 auto; */
  gap: 2rem;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    color: var(--theme-text);
    text-decoration: none;
  }
}

.logo-icon {
  width: 32px;
  height: 32px;
}

/* h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  color: white;
} */

.main-nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.main-nav a {
  text-decoration: none;
  color: var(--theme-text);
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s, background-color 0.2s;
}

.main-nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.main-nav a.active {
  background-color: rgba(100, 149, 237, 0.3); /* Cornflower blue with opacity */
  color: var(--theme-active);
}

.nav-button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.nav-button.active {
  background-color: rgba(100, 149, 237, 0.4) !important; /* Slightly more opaque for the button */
}
