.list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  min-width: 300px;
}

.list-header {
  padding: 8px 16px;
  /* position: fixed; */
  /* top: 0;
  left: 0;
  right: 0; */
  background-color: white;
  z-index: 1000;
  border-bottom: 1px solid var(--gray-a4);
  flex-shrink: 0;
  /* flex-grow: 0; */
  /* border-bottom: 1px solid var(--gray-a4); */
}

.list-header [data-radix-text-field-input] {
  background-color: var(--gray-a2);
  border-color: var(--gray-a4);
}

.list-header [data-radix-text-field-input]:focus {
  background-color: white;
  border-color: var(--blue-a8);
}

.list-items {
  /* position: relative; */
  /* top: 50px; */
  flex-grow: 1;
  overflow-y: auto;
  max-height: 100%;
  overflow: auto;
}

.list-item {
  padding: 8px 16px;
  cursor: pointer;
  border-bottom: 1px solid var(--gray-a4);
  transition: background-color 0.2s ease;
}

.list-item:hover {
  background-color: var(--gray-a3);
}

.list-item.selected {
  background-color: var(--blue-a3);
  .item-label {
    color: var(--blue-a9);
    /* font-size: 1.1rem; */
    /* font-weight: bold; */
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}

.list-item.deleted {
  background-color: var(--red-2);
}

.list-item.deleted.selected {
  background-color: var(--red-3);
}
