.tabsContentFlex {
  padding: 15px 0px;

  &[data-state="active"] {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    overflow: hidden;
  }

  .tabsContentColumn {
    width: 300px;
    overflow: auto;
    height: 100%;
    max-width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 3px;
    position: relative;

    /* &:last-child {
      flex-grow: 0;
      width: 400px;
    } */
  }
  pre {
    max-width: 800px;
    height: 100%;
    overflow: auto;
    border: 1px solid#2196f3;
  }
}
