.page {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    height: 100%;
}

.page header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.groups {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.xform-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    padding: 0.25rem;
    border: 2px solid transparent;
    border-radius: 8px;
}

.xform-group:hover {
    cursor: pointer;
    border: 2px solid #2196f3;
    border-style: outset;
}

.xform-group .model {
    flex: 1;
    margin-right: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1rem;
}

.xform-group .model.source {
    background-color: #4c7cbb;
    color: #f5f5f5;
}

.xform-group .model.target {
    background-color: #1f8027;
    color: #f5f5f5;
}

.xform-group-card {
    min-width: 350px;
    background-color: rgb(146, 211, 189);
    cursor: pointer;
}