# Docker Compose file for Advisor Demo with multiple MongoDB instances and LIF services
#
# This file defines services for MongoDB and LIF components, including query cache, planner, and GraphQL API.
# It sets up three MongoDB instances, each with its own data volume and sample data, and connects them to the LIF services.

# ----------- TEMPLATES -----------

x-mongo-template: &mongo-template
  build:
    context: ../../projects/mongodb

x-mongo-environment: &mongo-template-environment
  MONGO_DB: ${MONGO_DB:-LIF}
  MONGO_COLLECTION: ${MONGO_COLLECTION:-person}

x-lif-query-cache-template: &lif-query-cache-template
  build:
    context: ../../
    dockerfile: projects/lif_query_cache_api/Dockerfile2

x-lif-query-planner-template: &lif-query-planner-template
  build:
    context: ../../
    dockerfile: projects/lif_query_planner_api/Dockerfile2

x-lif-graphql-api-template: &lif-graphql-api-template
  build:
    context: ../../
    dockerfile: projects/lif_graphql_api/Dockerfile2
  environment:
    LIF_GRAPHQL_ROOT_TYPE_NAME: ${LIF_GRAPHQL_ROOT_TYPE_NAME:-Person}
    LIF_MDR_API_URL: ${LIF_MDR_API_URL:-http://host.docker.internal:8081}
    OPENAPI_DATA_MODEL_ID: ${OPENAPI_DATA_MODEL_ID:-17}
    OPENAPI_JSON_FILENAME: ${OPENAPI_JSON_FILENAME:-openapi_constrained_with_interactions.json}
    USE_OPENAPI_DATA_MODEL_FROM_FILE: ${USE_OPENAPI_DATA_MODEL_FROM_FILE:-false}

# ----------- SERVICES -----------

services:
  
  mongodb-org1:
    <<: *mongo-template
    container_name: mongodb-org1
    environment:
      <<: *mongo-template-environment
      MONGO_HOST: ${MONGO_HOST_ORG1:-mongodb-org1}
      SEED_DATA_KEY: ${SEED_DATA_KEY:-advisor-demo-org1}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data_org1:/data/db
    networks:
      - lif-net-org1

  mongodb-org2:
    <<: *mongo-template
    container_name: mongodb-org2
    environment:
      <<: *mongo-template-environment
      MONGO_HOST: ${MONGO_HOST_ORG2:-mongodb-org2}
      SEED_DATA_KEY: ${SEED_DATA_KEY:-advisor-demo-org2}
    ports:
      - "27018:27017"
    volumes:
      - mongo_data_org2:/data/db
    networks:
      - lif-net-org2

  mongodb-org3:
    <<: *mongo-template
    container_name: mongodb-org3
    environment:
      <<: *mongo-template-environment
      MONGO_HOST: ${MONGO_HOST_ORG3:-mongodb-org3}
      SEED_DATA_KEY: ${SEED_DATA_KEY:-advisor-demo-org3}
    ports:
      - "27019:27017"
    volumes:
      - mongo_data_org3:/data/db
    networks:
      - lif-net-org3
  
  lif-query-cache-org1:
    <<: *lif-query-cache-template
    container_name: lif-query-cache-org1
    environment:
      MONGODB_URI: mongodb-org1:27017
    ports:
      - "${LIF_QUERY_CACHE_PORT_ORG1:-8001}:8001"
    depends_on:
      - mongodb-org1
    networks:
      - lif-net-org1

  lif-query-cache-org2:
    <<: *lif-query-cache-template
    container_name: lif-query-cache-org2
    environment:
      MONGODB_URI: mongodb-org2:27017
    depends_on:
      - mongodb-org2
    networks:
      - lif-net-org2

  lif-query-cache-org3:
    <<: *lif-query-cache-template
    container_name: lif-query-cache-org3
    environment:
      MONGODB_URI: mongodb-org3:27017
    depends_on:
      - mongodb-org3
    networks:
      - lif-net-org3

  lif-query-planner-org1:
    <<: *lif-query-planner-template
    container_name: lif-query-planner-org1
    ports:
      - "${LIF_QUERY_PLANNER_PORT_ORG1:-8002}:8002"
    environment:
      LIF_QUERY_CACHE_URL: http://lif-query-cache-org1:8001
      LIF_ORCHESTRATOR_URL: ${LIF_ORCHESTRATOR_URL:-http://lif-orchestrator-api-org1:8005}
      LIF_QUERY_PLANNER_INFORMATION_SOURCES_CONFIG_PATH: ${LIF_QUERY_PLANNER_INFORMATION_SOURCES_CONFIG_PATH:-./information_sources_config.yml}
    depends_on:
      - lif-query-cache-org1
    networks:
      - lif-net-org1

  lif-query-planner-org2:
    <<: *lif-query-planner-template
    container_name: lif-query-planner-org2
    environment:
      LIF_QUERY_CACHE_URL: http://lif-query-cache-org2:8001
    depends_on:
      - lif-query-cache-org2
    networks:
      - lif-net-org2

  lif-query-planner-org3:
    <<: *lif-query-planner-template
    container_name: lif-query-planner-org3
    environment:
      LIF_QUERY_CACHE_URL: http://lif-query-cache-org3:8001
    depends_on:
      - lif-query-cache-org3
    networks:
      - lif-net-org3

  lif-graphql-api-org1:
    <<: *lif-graphql-api-template
    container_name: lif-graphql-api-org1
    ports:
      - "${LIF_GRAPHQL_PORT_ORG1:-8010}:8000"
    environment:
      LIF_QUERY_PLANNER_URL: http://lif-query-planner-org1:8002
      LIF_QUERY_TIMEOUT_SECONDS: ${LIF_QUERY_TIMEOUT:-60}
    depends_on:
      - lif-query-planner-org1
    networks:
      - lif-net-org1

  lif-graphql-api-org2:
    <<: *lif-graphql-api-template
    container_name: lif-graphql-api-org2
    ports:
      - "${LIF_GRAPHQL_PORT_ORG2:-8110}:8000"
    environment:
      LIF_QUERY_PLANNER_URL: http://lif-query-planner-org2:8002
    depends_on:
      - lif-query-planner-org2
    networks:
      - lif-net-org2
      - lif-net-org1 # For org1 to org2 orchestrator communication

  lif-graphql-api-org3:
    <<: *lif-graphql-api-template
    container_name: lif-graphql-api-org3
    ports:
      - "${LIF_GRAPHQL_PORT_ORG3:-8210}:8000"
    environment:
      LIF_QUERY_PLANNER_URL: http://lif-query-planner-org3:8002
    depends_on:
      - lif-query-planner-org3
    networks:
      - lif-net-org3
      - lif-net-org1 # For org1 to org2 orchestrator communication

# ----------- ORG 1 Only Services -----------

  lif-example-data-source-rest-api:
    build:
      context: ../../
      dockerfile: projects/lif_example_data_source_rest_api/Dockerfile2
    container_name: lif-example-data-source-rest-api
    environment:
      API_TOKEN: ${API_TOKEN:-changeme}
    ports:
      - "8011:8011"
    networks:
      - lif-net-org1

  lif-translator-org1:
    build:
      context: ../../
      dockerfile: projects/lif_translator_api/Dockerfile2
    environment:
      LIF_MDR_API_URL: ${LIF_MDR_API_URL:-http://host.docker.internal:8081}
      OPENAPI_DATA_MODEL_ID: ${OPENAPI_DATA_MODEL_ID:-17}
      OPENAPI_JSON_FILENAME: ${OPENAPI_JSON_FILENAME:-openapi_constrained_with_interactions.json}
      USE_OPENAPI_DATA_MODEL_FROM_FILE: ${USE_OPENAPI_DATA_MODEL_FROM_FILE:-false}
    ports:
      - "8007:8007"
    networks:
      - lif-net-org1
    extra_hosts:
      - "host.docker.internal:host-gateway"

  lif-semantic-search-mcp-server:
    build:
      context: ../../
      dockerfile: projects/lif_semantic_search_mcp_server/Dockerfile2
    container_name: lif-semantic-search-mcp-server
    environment:
      LIF_GRAPHQL_API_URL: ${LIF_GRAPHQL_API_URL:-http://lif-graphql-api-org1:8000/graphql}
      LIF_GRAPHQL_ROOT_NODE: ${LIF_GRAPHQL_ROOT_NODE:-Person}
      LIF_MDR_API_URL: ${LIF_MDR_API_URL:-http://host.docker.internal:8081}
      OPENAPI_DATA_MODEL_ID: ${OPENAPI_DATA_MODEL_ID:-17}
      OPENAPI_JSON_FILENAME: ${OPENAPI_JSON_FILENAME:-openapi_constrained_with_interactions.json}
      USE_OPENAPI_DATA_MODEL_FROM_FILE: ${USE_OPENAPI_DATA_MODEL_FROM_FILE:-false}
    networks:
      - lif-net-org1
    depends_on:
      - lif-graphql-api-org1
    healthcheck:
      test: ["CMD", "python", "-c", "import sys,urllib.request; sys.exit(0) if urllib.request.urlopen('http://localhost:8003/health').status==200 else sys.exit(1)"]
      interval: 15s
      timeout: 10s
      retries: 3
      start_period: 10s

  lif-advisor-api:
    build:
      context: ../../
      dockerfile: projects/lif_advisor_api/Dockerfile2
    container_name: lif-advisor-api
    environment:
      LIF_SEMANTIC_SEARCH_MCP_SERVER_URL: ${LIF_SEMANTIC_SEARCH_MCP_SERVER_URL:-http://lif-semantic-search-mcp-server:8003/mcp}
      LIF_GRAPHQL_API_URL: ${LIF_GRAPHQL_API_URL:-http://lif-graphql-api-org1:8000/graphql}
      LIF_ADVISOR_AGENT_TASKS: ${LIF_ADVISOR_AGENT_TASKS:-load_profile,continue_conversation,save_interaction_summary}
      LIF_ADVISOR_LLM_MODEL_NAME: ${LANGCHAIN_LLM_MODEL_NAME:-gpt-4.1-mini}
      LIF_ADVISOR_MESSAGES_TO_KEEP: ${LIF_ADVISOR_MESSAGES_TO_KEEP:-4}
      LIF_ADVISOR_TRIMMED_MESSAGES_SIZE: ${LIF_ADVISOR_TRIMMED_MESSAGES_SIZE:-384}
      LIF_ADVISOR_MAX_CONVERSATION_SIZE: ${LIF_ADVISOR_MAX_CONVERSATION_SIZE:-2048}
      LIF_ADVISOR_MAX_SUMMARY_SIZE: ${LIF_ADVISOR_MAX_SUMMARY_SIZE:-1024}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      CONFIG_KEY_STORE: ${CONFIG_KEY_STORE:-/etc/keys}
    ports:
      - "8004:8004"
    networks:
      - lif-net-org1
    depends_on:
      lif-graphql-api-org1:
        condition: service_started
      lif-semantic-search-mcp-server:
        condition: service_healthy

  lif-advisor-app:
    build:
      context: ../../frontends/lif_advisor_app
      args:
        LIF_ADVISOR_API_URL: ${LIF_ADVISOR_API_URL:-http://localhost:8004} # Web client needs to access the API outside the container
    container_name: lif-advisor-app
    ports:
      - "5174:80"
    networks:
      - lif-net-org1
    depends_on:
      - lif-advisor-api

  lif-orchestrator-api-org1:
    build:
      context: ../../
      dockerfile: projects/lif_orchestrator_api/Dockerfile2
    container_name: lif-orchestrator-api-org1
    environment:
      ORCHESTRATOR__TYPE: dagster
      ORCHESTRATOR__DAGSTER__GRAPHQL_API_URL: http://dagster-webserver:3000
      # ORCHESTRATOR__DAGSTER__GRAPHQL_API_URL: http://host.docker.internal:3000
      ORCHESTRATOR__DAGSTER__GRAPHQL_API_TOKEN: ${DAGSTER_GRAPHQL_API_TOKEN:-}
    ports:
      - "${LIF_ORCHESTRATOR_PORT_ORG1:-8005}:8005"
    depends_on:
      - lif-query-planner-org1
    networks:
      - lif-net-org1

  #####################
  # Dagster services
  #####################
  # This service runs the postgres DB used by dagster for run storage, schedule storage,
  # and event log storage. Depending on the hardware you run this Compose on, you may be able
  # to reduce the interval and timeout in the healthcheck to speed up your `docker-compose up` times.
  postgres-dagster:
    image: postgres:11
    container_name: postgres-dagster
    environment:
      POSTGRES_USER: 'postgres_user'
      POSTGRES_PASSWORD: 'postgres_password'
      POSTGRES_DB: 'postgres_db'
    networks:
      - lif-net-org1
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres_user -d postgres_db']
      interval: 10s
      timeout: 8s
      retries: 5
  # This service runs the gRPC server that loads your user code, in both dagster-webserver
  # and dagster-daemon. By setting DAGSTER_CURRENT_IMAGE to its own image, we tell the
  # run launcher to use this same image when launching runs in a new container as well.
  # Multiple containers like this can be deployed separately - each just needs to run on
  # its own port, and have its own entry in the workspace.yaml file that's loaded by the
  # webserver.
  dagster-code-location:
    build:
      context: ../..
      dockerfile: projects/dagster_docker_compose/Dockerfile.code_location
    container_name: dagster-code-location
    image: dagster-code-location-image
    restart: always
    environment:
      DAGSTER_POSTGRES_USER: 'postgres_user'
      DAGSTER_POSTGRES_PASSWORD: 'postgres_password'
      DAGSTER_POSTGRES_DB: 'postgres_db'
      DAGSTER_CURRENT_IMAGE: 'dagster-code-location-image'
      ADAPTERS__LIF_TO_LIF__ORG2__CREDENTIALS__HOST: lif-graphql-api-org2:8000
      ADAPTERS__LIF_TO_LIF__ORG2__CREDENTIALS__SCHEME: http

      ADAPTERS__LIF_TO_LIF__ORG3__CREDENTIALS__HOST: lif-graphql-api-org3:8000
      ADAPTERS__LIF_TO_LIF__ORG3__CREDENTIALS__SCHEME: http

      ADAPTERS__EXAMPLE_DATA_SOURCE_REST_API_TO_LIF__ORG1_EXAMPLE_DATA_SOURCE__CREDENTIALS__HOST: lif-example-data-source-rest-api:8011
      ADAPTERS__EXAMPLE_DATA_SOURCE_REST_API_TO_LIF__ORG1_EXAMPLE_DATA_SOURCE__CREDENTIALS__SCHEME: http
      ADAPTERS__EXAMPLE_DATA_SOURCE_REST_API_TO_LIF__ORG1_EXAMPLE_DATA_SOURCE__CREDENTIALS__TOKEN: changeme

      LIF_QUERY_PLANNER_RESULTS_BASE_URL: http://lif-query-planner-org1:8002
      LIF_TRANSLATOR_BASE_URL: http://lif-translator-org1:8007
    networks:
      - lif-net-org1
  # This service runs dagster-webserver, which loads your user code from the code location container.
  # Since our instance uses the QueuedRunCoordinator, any runs submitted from the webserver will be put on
  # a queue and later dequeued and launched by dagster-daemon.
  dagster-webserver:
    build:
      context: ../..
      dockerfile: ./projects/dagster_docker_compose/Dockerfile.dagster
    entrypoint:
      - dagster-webserver
      - -h
      - '0.0.0.0'
      - -p
      - '3000'
      - -w
      - workspace.yaml
    container_name: dagster-webserver
    expose:
      - '3000'
    ports:
      - '3000:3000'
    environment:
      DAGSTER_POSTGRES_USER: 'postgres_user'
      DAGSTER_POSTGRES_PASSWORD: 'postgres_password'
      DAGSTER_POSTGRES_DB: 'postgres_db'
    volumes: # Make docker client accessible so we can terminate containers from the webserver
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/io_manager_storage:/tmp/io_manager_storage
    networks:
      - lif-net-org1
    depends_on:
      postgres-dagster:
        condition: service_healthy
      dagster-code-location:
        condition: service_started

  # This service runs the dagster-daemon process, which is responsible for taking runs
  # off of the queue and launching them, as well as creating runs from schedules or sensors.
  dagster-daemon:
    build:
      context: ../..
      dockerfile: ./projects/dagster_docker_compose/Dockerfile.dagster
    entrypoint:
      - dagster-daemon
      - run
    container_name: dagster-daemon
    restart: on-failure
    environment:
      DAGSTER_POSTGRES_USER: 'postgres_user'
      DAGSTER_POSTGRES_PASSWORD: 'postgres_password'
      DAGSTER_POSTGRES_DB: 'postgres_db'
    volumes: # Make docker client accessible so we can launch containers using host docker
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/io_manager_storage:/tmp/io_manager_storage
    networks:
      - lif-net-org1
    depends_on:
      postgres-dagster:
        condition: service_healthy
      dagster-code-location:
        condition: service_started

# ----------- NETWORKS -----------

networks:
  lif-net-org1:
    driver: bridge
    name: lif-net-org1
  lif-net-org2:
  lif-net-org3:

# ----------- VOLUMES -----------

volumes:
  mongo_data_org1:
  mongo_data_org2:
  mongo_data_org3:
