POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=postgres
POSTGRESQL_HOST=host.docker.internal
POSTGRESQL_PORT=5445
POSTGRESQL_DB=LIF

# CORS Configuration
# Comma-separated list of allowed origins (use * for all origins)
# Examples:
# For development: http://localhost:3000,http://localhost:5173
# For production: https://yourdomain.com,https://app.yourdomain.com
# For all origins: *
CORS_ALLOW_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:8080,https://mdr.lif.unicon.net,https://mdr.demo.lif.unicon.net/

# Set to `true` to allow cookies and authorization headers in cross-origin requests
CORS_ALLOW_CREDENTIALS=true

# Comma-separated list of allowed HTTP methods
CORS_ALLOW_METHODS=GET,POST,PUT,DELETE,OPTIONS,PATCH

# Comma-separated list of allowed headers (use * for all headers)
CORS_ALLOW_HEADERS=*

# Authentication Configuration
MDR__AUTH__JWT_SECRET_KEY=change4
MDR__AUTH__SERVICE_API_KEY__GRAPHQL=changeme1
MDR__AUTH__SERVICE_API_KEY__SEMANTIC_SEARCH=changeme2
MDR__AUTH__SERVICE_API_KEY__TRANSLATOR=changeme3
MDR__AUTH__METHODS_TO_REQUIRE_AUTH=GET,POST,PUT,DELETE
MDR__AUTH__ACCESS_TOKEN_EXPIRE_MINUTES=30
MDR__AUTH__REFRESH_TOKEN_EXPIRE_DAYS=7
MDR__AUTH__PUBLIC_ALLOWLIST_EXACT="/login,/refresh-token,/health-check"
MDR__AUTH__PUBLIC_ALLOWLIST_STARTS_WITH="/docs,/openapi.json"
```
