name: Build Mongo DB Seed and push to Amazon ECR

env:
  AWS_REGION: us-east-1
  GHA_ROLE: "arn:aws:iam::381492161417:role/lif-github-actions-dev"

permissions:
      id-token: write
      contents: read

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - .github/workflows/mongodb_seed.yml
      - development/mongodb/mongodb-seed/**
      - cloudformation/dev-lif-mongodb-seed.params
      - cloudformation/mongodb-seed-taskdef-includes.yml


jobs:

  lif-mongodb-seed:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    env:
      WORKING_DIR: ./development/mongodb/mongodb-seed
      ECR_REPOSITORY: lif/dev/mongodb_seed
    steps:
    - uses: actions/checkout@v4

    - uses: ./.github/actions/build-and-push
      with:
        working-dir: ${{ env.WORKING_DIR }}
        github-actions-role: ${{ env.GHA_ROLE }}
        role-session-name: lif-mongo-seed-build
        aws-region: ${{ env.AWS_REGION }}
        ecr-repository: ${{ env.ECR_REPOSITORY }}
